.git
.gitignore
README.md
Dockerfile
.dockerignore
*.md
node_modules
.next
*.log
*.lock
build/
dist/
public/dist/
.nyc_output
coverage/
.nyc_output
.eslintcache
.pnp/
.pnp.js
storybook-static/
docs/
.history
.vercel
.svelte-kit
.output
.husky
.vscode
.idea
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build_output.log
temp-build/